.perguntas{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #000;
}

.perguntas h2{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 1.4rem;
    line-height: 4rem;
    width: 70%;

}
.nav-perguntas{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    width: 100%;
  
   
}

.ul-perguntas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
 
  
}

.pergunta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: .8rem;
    padding: .5rem .7rem .5rem .7rem; 
    border-radius: .9rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
   

    
}
.fa-chevron-circle-down{
    color:rgb(255, 255, 255);
    font-size: 1.2rem;   
    padding-top: .5rem;
}
.fa-plus{
    padding-top: .5rem;
}
.resposta{
    text-align: left;
    width: 90%;
    padding: 1rem .9rem 1rem .9rem; 
    font-family: "Raleway", sans-serif;
    font-size: .9rem;
    border-radius: .9rem;
    color: #fff;
    visibility: hidden;
    color: #fff;
    display: none;
    

}
.mostra-resposta.perg1{
    margin-bottom: 0;
}
.mostra-resposta.perg2{
    margin-bottom: 0;
}
.mostra-resposta.perg3{
    margin-bottom: 0;
}
.mostra-resposta.perg4{
    margin-bottom: 0;
}
.mostra-resposta.resp1{
    margin-top: .1rem;
    background-color:rgb(77, 77, 77);
    border-radius: .9rem;
    visibility: visible;
    transition: .5s;
    padding: 1rem .7rem 1rem .7rem;
    display: block;
    margin-bottom:.4rem ;
    font-size: 1rem;
    
    
}
.mostra-resposta.resp2{
    margin-top: .1rem;
    background-color:rgb(77, 77, 77);
    border-radius: .9rem;
    visibility: visible;
    transition: .5s;
    padding: 1rem .9rem 1rem .9rem; 
    display: block;
    margin-bottom:.4rem ;
    
}
.mostra-resposta.resp3{
    margin-top: .1rem;
    background-color:rgb(77, 77, 77);
    border-radius: .9rem;
    visibility: visible;
    transition: .5s;
    padding: 1rem .9rem 1rem .9rem; 
    display: block;
    margin-bottom:.4rem ;
    
}
.mostra-resposta.resp4{
    margin-top: .1rem;
    background-color:rgb(77, 77, 77);
    border-radius: .9rem;
    visibility: visible;
    transition: .5s;
    padding: 1rem .9rem 1rem .9rem; 
    display: block;
    margin-bottom:.4rem ;
    
}

@media screen and (min-width:1024px) {
    .perguntas{
        padding-top: 3rem;
        padding-bottom: 7rem;
     
    }
    .ul-perguntas{
        width: 50%;
    }
    .pergunta{
        font-size: 1.2rem;
        padding: 1rem .8rem 1rem .8rem; 
      

    }
    .perguntas h2{
        text-align: center;
        font-size: 2.3rem;
        width: 35%;
        line-height: 5rem;
        
    }

}

