.sobre {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-sobre {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.bola-wrapper-sobre-lateral {
    display: none;
}

.sobre h2 {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #fff;
    margin-top: 4rem;
    font-family: var(--font-secundary);
    font-weight: bold;
    line-height: 2.3rem;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.bola-wrapper-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bola {
    width: .4rem;
    height: .4rem;
    background-color: var(--amarelo);
    border-radius: 50%;
    margin-left: .3rem;
}

.sobre p {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-primary);
    line-height: 1.9rem;
    margin-top: 2.5rem;
}



.sobre-img-wrapper {
    display: none;
}

.metricas-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.metrica-inside-wrapper {
    background-color: rgb(29, 29, 29);
    ;
    border-radius: 10px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 45%;
}

.metricas-wrapper p {
    color: #fff;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--font-primary);
    padding: 0;
    margin: 0;
}

.metricas-wrapper p::before {
    content: "+";
    margin-right: .2rem;
}

.metricas-wrapper small {
    color: rgb(158, 158, 158);
    font-size: 1rem;
    font-family: var(--font-primary);
    color: #fff;
}

@media screen and (min-width:640px) {
    .alvo-sobre-wrapper {
        width: 100%;
        height: 36rem;
    }
    .sobre p {
        font-size: 1.7rem;
        line-height: 2.2rem;
    }
}

@media screen and (min-width:1024px) {
    .sobre {
        justify-content: left;
        align-items: initial;
        background-color: rgb(15, 15, 15);
    }
    .alvo-sobre-wrapper {
        display: none;
    }
    .container-sobre {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .bola-wrapper-sobre {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bola {
        width: .4rem;
        height: .4rem;
        background-color: var(--amarelo);
        border-radius: 50%;
        margin-left: .5rem;
        opacity: 80%;
    }
    .bola3 {
        opacity: 60%;
    }
    .bola4 {
        opacity: 40%;
    }
    .bola5 {
        opacity: 30%;
    }
    .bola-wrapper-sobre-lateral {
        margin-top: 15rem;
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .sobre h2 {
        font-size: 25px;
        margin-top: 2rem;
    }
    .sobre p {
        width: 70%;
        font-size: 1.4rem;
        color: rgb(136, 136, 136);
        text-align: center;
    }
    .textos-sobre-wrapper {
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        float: right;
        margin-top: 7rem;
    }
    .sobre-img-wrapper {
        display: block;
        width: 50vw;
        height: 100vh;
        float: left;
        
    }
    .sobre-img-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .metricas-wrapper {
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        width: 35%;
        float: right;
        margin-right: 4rem;
    }
}